@{
    ViewData["Title"] = "Home";
}

<div class="text-center">

    <img src="~/Imagenes/Deudor.jpeg" alt="mi memingo" style="width: 300px; height: 300px;">

    
    <button type="button" class="btn btn-info mt-3" onclick="mostrarAlerta()">Mostrar Información</button>
</div>

<script>
    function mostrarAlerta() {
        alert("Mi nombre es Josue y mi hobbie es chambear.");
    }
</script>

