@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="~/Imagenes/Deudor.jpeg" alt="mi memingo" class="Imagen12" />
    <button type="button" class="btn btn-info mt-3" onclick="mostrarAlerta()">Mostrar Información</button>
</div>

<script src="~/js/site.js"></script>


